
.basil_single_4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 640px;
  width               : 360px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  background-color    : rgba(237, 240, 242, 1.0);
}
.basil_single_4 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 640px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .icarrowdown {
  background-color    : rgba(255,255,255,0.0);
  top                 : 606px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .icarrowdown .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .icarrowdown .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(-45deg); /* IE 9 */
  -webkit-transform   : rotate(-45deg); /* Chrome, Safari, Opera */
  transform           : rotate(-45deg);
}
.basil_single_4 .potpie {
    background-color: rgba(255,255,255,0.0);
    top: 450px;
    height: auto;
    width: 370px;
    position: absolute;
    margin: 0;
    left: 1px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 92.0px;
    color: rgba(253, 85, 35, 1.0);
    text-align: center;
    line-height: 56.0px;
    transform: translateY(-50%);
    z-index: 1000;
    line-height: 1.2;
    text-transform: uppercase !important; 
}
.basil_single_4 .img {
  background-color    : rgba(255,255,255,0.0);
  top                 : 115px;
  height              : 296px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.basil_single_4 .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 47px;
  width               : 191px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .logo .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 47px;
  width               : 191px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .logo .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 42px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .logo .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 42px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .logo .fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .logo .fill6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 140px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .logo .fill9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 42px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 165px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .sysmobile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .sysmobile .background {
  background-color    : rgba(236, 233, 213, 1.0);
  top                 : 0px;
  height              : 24px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .sysmobile .circle {
  background-color    : rgba(53, 104, 88, 1.0);
  top                 : 7px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 324px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .sysmobile .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 10px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.basil_single_4 .sysmobile .square {
  background-color    : rgba(53, 104, 88, 1.0);
  top                 : 7px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 306px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}