before: 12.19 KB after: 4.67 KB used: undefined unused: undefined @import url(https://fonts.googleapis.com/css?family=Roboto:500,400|Montserrat:600,500,700,400);
a {
  text-decoration: none
}

div {
  -webkit-text-size-adjust: none
}

div {
  -webkit-text-size-adjust: none
}

.basil {
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  height: 652px;
  width: 372px;
  position: absolute;
  margin: 0;
  left: 0;
  overflow: hidden;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.basil .mask {
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  height: 652px;
  width: 372px;
  position: absolute;
  margin: 0;
  left: -6px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.basil .img {
  background-color: rgba(255, 255, 255, 0);
  top: 115px;
  height: 350px;
  width: 296px;
  position: absolute;
  margin: 0;
  left: 38px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity: .2
}

.basil .line9 {
  background-color: rgba(255, 255, 255, 0);
  top: 587px;
  height: 1px;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 6px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity: .2
}

.basil .guiltfreeglutenfr {
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  height: auto;
  width: 277px;
  position: relative;
  margin: 0;
  left: 48px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  font-family: "San Francisco", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(53, 104, 89, 1);
  text-align: center;
  letter-spacing: .61px;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 30px
}

.basil .ingredients {
  background-color: rgba(255, 255, 255, 0);
  top: 605px;
  height: auto;
  width: auto;
  position: fixed;
  margin: 0;
  left: 49px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  font-family: Montserrat, Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: rgba(53, 104, 89, 1);
  text-align: left;
  letter-spacing: .35px;
  line-height: 18px
}

.basil .directions {
  background-color: rgba(255, 255, 255, 0);
  top: 605px;
  height: auto;
  width: auto;
  position: fixed;
  margin: 0;
  left: 226px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  font-family: Montserrat, Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: rgba(53, 104, 89, 1);
  text-align: left;
  letter-spacing: .35px;
  line-height: 18px
}

.basil .rectangle {
  background-color: rgba(55, 150, 111, 1);
  top: 0;
  height: 1px;
  width: 296px;
  position: relative;
  margin: 0;
  left: 38px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.basil .nutrition {
  background-color: #fffbe5;
  top: 0;
  height: 104px;
  width: 296px;
  position: relative;
  margin: 0;
  left: 38px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.nutrition_sub_1,
.nutrition_sub_2 {
  display: flex;
  width: 100%
}

.nutrition_sub_1 {
  padding-top: 10px
}

.nutrition_sub_1 * {
  display: block;
  width: 100%!important;
  text-align: center;
  position: relative!important;
  line-height: 1.4
}

.nutrition_sub_1>div {
  border-right: 1px solid #c6ddc0
}

.nutrition_sub_1>div:nth-last-child(1) {
  border-right: 0 solid #c6ddc0
}

.nutrition_sub_2 * {
  display: block;
  width: 100%!important;
  text-align: center;
  position: relative!important
}

.eggfree img,
.glutenu2013free img {
  width: 17px!important;
  display: inline-block;
  margin-top: 1px;
  vertical-align: middle;
  margin-right: 10px;
  box-sizing: border-box!important
}

.eggfree span,
.glutenu2013free span {
  display: inline-block;
  width: auto!important;
  vertical-align: middle;
  height: 100%;
  line-height: 25px
}

.basil .nutrition .rectangle_2 {
  background-color: rgba(55, 150, 111, 1);
  top: 194px;
  height: 1px;
  width: 296px;
  position: absolute;
  margin: 0;
  top: 0;
  position: relative;
  left: 0;
  margin-top: 20px;
  margin-bottom: 10px
}

.basil .nutrition .rectangle3 {
  background-color: rgba(55, 150, 111, 1);
  top: 63px;
  height: 1px;
  width: 296px;
  position: absolute;
  margin: 0;
  left: 0;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.basil .nutrition .rectangle1 {
  background-color: rgba(55, 150, 111, .3);
  top: 0;
  height: 44px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 88px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.basil .nutrition .rectangle2 {
  background-color: rgba(55, 150, 111, .3);
  top: 0;
  height: 44px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 208px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.basil .creamypestopasta {
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  margin-top: 61px;
  height: auto;
  width: auto;
  position: relative;
  left: 0;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  font-family: Montserrat, Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  color: rgba(253, 85, 35, 1);
  text-align: center;
  line-height: 56px
}

.tap {
  background-color: rgba(255, 255, 255, 0);
  top: 583px;
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 0;
  left: 65px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity: .5
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}