@import url('https://fonts.googleapis.com/css?family=Montserrat:600,500,700');
.basil_desktop {
  width: 1250px;
  height: 780px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #def3e5;
  box-sizing: border-box;
}
.basil_desktop {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  width: 1250px;
  height: 780px;
  position: relative;
  margin: 0;
  left: 0px;
  overflow: hidden;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .mask {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  width: 1250px;
  height: 780px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .rectangle {
  background-color: #37966f;
  top: 108px;
  height: 1px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 242px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .text {
  background-color: rgba(255, 255, 255, 0);
  /* top: 135px; */
  height: auto;
  width: 156px;
  position: absolute;
  /* margin: 0; */
  /* left: 245px; */
  -ms-transform: rotate(0deg);
  /* -webkit-transform: rotate(0deg); */
  /* transform: rotate(0deg); */
  /* font-family: "AppleSystemUIFont", Helvetica, Arial, serif; */
  font-size: 18.0px;
  color: #356859;
  text-align: center;
  letter-spacing: 0.28px;
  line-height: 1.4;
}
.basil_desktop .rectangle1 {
  background-color: #37966f;
  top: 200px;
  height: 1px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 242px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .guiltfreerecipes {
  background-color: rgba(255, 255, 255, 0);
  top: 399px;
  height: auto;
  width: 156px;
  position: absolute;
  margin: 0;
  left: 420px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 9.0px;
  color: #356859;
  text-align: center;
  letter-spacing: 0.28px;
  line-height: 14.0px;
}
.basil_desktop .rectangle2 {
  background-color: rgba(255, 255, 255, 0);
  top: 380px;
  height: 1px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 416px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .title {
  background-color: rgba(255, 255, 255, 0);
  /* top: 135px; */
  height: auto;
  width: 156px;
  /* margin: 0; */
  /* left: 245px; */
  -ms-transform: rotate(0deg);
  /* -webkit-transform: rotate(0deg); */
  /* transform: rotate(0deg); */
  /* font-family: "AppleSystemUIFont", Helvetica, Arial, serif; */
  font-size: 18.0px;
  text-align: center;
  letter-spacing: 0.28px;
  color: #356859;
  line-height: 1.4;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 300px;
}
.basil_desktop .img1 {
  background-color: rgba(255, 255, 255, 0);
  top: 244px;
  height: 92px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 67px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  object-fit: cover;
}
.basil_desktop .beefpotpie {
  background-color: rgba(255, 255, 255, 0);
  top: 347px;
  height: auto;
  width: 156px;
  position: absolute;
  margin: 0;
  left: 71px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 9.0px;
  color: #fd5523;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 12.0px;
}
.basil_desktop .img2 {
  background-color: rgba(255, 255, 255, 0);
  top: 244px;
  height: 92px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 242px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  object-fit: cover;
}
.basil_desktop .creamypestopasta {
  background-color: rgba(255, 255, 255, 0);
  top: 347px;
  height: auto;
  width: 156px;
  position: absolute;
  margin: 0;
  left: 246px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 9.0px;
  color: #fd5523;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 12.0px;
}
.basil_desktop .img3 {
  background-color: rgba(255, 255, 255, 0);
  top: 108px;
  height: 204px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 417px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  object-fit: cover;
}
.basil_desktop .herbroastedchicken {
  background-color: rgba(255, 255, 255, 0);
  top: 325px;
  height: auto;
  width: 156px;
  position: absolute;
  margin: 0;
  left: 420px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16.0px;
  color: #fd5523;
  text-align: center;
  letter-spacing: 0.15px;
  line-height: 20.0px;
}
.basil_desktop .img4 {
  background-color: rgba(255, 255, 255, 0);
  top: 380px;
  height: 92px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 67px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  object-fit: cover;
}
.basil_desktop .img5 {
  background-color: rgba(255, 255, 255, 0);
  top: 380px;
  height: 92px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 242px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  object-fit: cover;
}
.basil_desktop .nav {
  display: flex;
  /* width: 100%; */
  position: absolute;
  top: 130px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.basil_desktop .nav .appetizers {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 7.0px;
  color: #356859;
  text-align: center;
  letter-spacing: 0.17px;
  line-height: 9.0px;
}
.basil_desktop .nav .entr351es {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 59px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 7.0px;
  color: #356859;
  text-align: center;
  letter-spacing: 0.17px;
  line-height: 9.0px;
}
.basil_desktop .nav .rectangle3 {
  background-color: #356859;
  top: 11px;
  height: 1px;
  width: 34px;
  position: absolute;
  margin: 0;
  left: 60px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .nav .desserts {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 107px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 7.0px;
  color: #356859;
  text-align: center;
  letter-spacing: 0.17px;
  line-height: 9.0px;
}
.basil_desktop .nav .cocktails {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 157px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 7.0px;
  color: #356859;
  text-align: center;
  letter-spacing: 0.17px;
  line-height: 9.0px;
}
.basil_desktop .icbookmark {
  background-color: rgba(255, 255, 255, 0);
  top: 80px;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: 0;
    right: 60px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .icbookmark .rectangle21 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .icbookmark .stroke1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .icbookmark .fill3 {
  background-color: rgba(255, 255, 255, 0);
  top: 14px;
  height: 14px;
  width: 12px;
  position: absolute;
  margin: 0;
  left: 14px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .icbookmark .stroke5 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .icbookmark .fill7 {
  background-color: rgba(255, 255, 255, 0);
  top: 14px;
  height: 14px;
  width: 12px;
  position: absolute;
  margin: 0;
  left: 14px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .logo {
  background-color: rgba(255, 255, 255, 0);
  top: 60px;
  height: 46px;
  width: 184px;
  position: absolute;
  margin: 0;
  left: 554px;
  overflow: hidden;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  left: 50%;
  transform: translateX(-50%);
}
.basil_desktop .logo .background {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 46px;
  width: 184px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .logo .fill1 {
  background-color: rgba(255, 255, 255, 0);
  top: 4px;
  height: 40px;
  width: 32px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .logo .fill3 {
  background-color: rgba(255, 255, 255, 0);
  top: 4px;
  height: 40px;
  width: 42px;
  position: absolute;
  margin: 0;
  left: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .logo .fill4 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: 42px;
  width: 32px;
  position: absolute;
  margin: 0;
  left: 92px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .logo .fill6 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 44px;
  width: 8px;
  position: absolute;
  margin: 0;
  left: 136px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .logo .fill9 {
  background-color: rgba(255, 255, 255, 0);
  top: 4px;
  height: 40px;
  width: 26px;
  position: absolute;
  margin: 0;
  left: 158px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .group7 {
  background-color: rgba(255, 255, 255, 0);
  height: 32px;
  width: 100%;
  top: 0;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  left: 0;
}
.basil_desktop .group7 .titlebarbg {
  background-color: #ece9d5;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .group7 .minimise {
  background-color: rgba(255, 255, 255, 0);
  top: 20px;
  height: 2px;
  width: 14px;
  position: absolute;
  margin: 0;
  left: 1188px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .group7 .maximise {
  background-color: rgba(255, 255, 255, 0);
  top: 10px;
  height: 12px;
  width: 14px;
  position: absolute;
  margin: 0;
  left: 1220px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .group7 .close {
  background-color: rgba(255, 255, 255, 0);
  top: 10px;
  height: 12px;
  width: 12px;
  position: absolute;
  margin: 0;
  left: 1252px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.basil_desktop .nav > div {
  margin-left: 30px;
  margin-right: 30px;
}
.basil_desktop {
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
  padding-top: 200px;
  background: #FFFBE6;
}
.basil_desktop img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  position: relative;
}
.basil_desktop .grid_1 {
  width: 666px;
}
.basil_desktop .grid_2 {
  width: 999px;
  display: flex;
}
.basil_desktop .row_1 {
  width: 333px;
  position: relative;
}
.basil_desktop .row_2 {
  width: 666px;
  position: relative;
  display: flex;
}
.basil_desktop .row_3 {
  width: 999px;
  position: relative;
  display: flex;
}
.basil_desktop .text {
    border-bottom: 1px solid green;
    border-top: 1px solid green;
    height: 200px;
    width: 300px;
    position: relative;
    display: flex;
}
.basil_desktop .text > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    line-height: 32px;
}
.basil_desktop .row_2 img,
.basil_desktop .row_3 img {
  margin-right: 30px;
}
.basil_desktop .row_3 {
  width: 100%;
  position: relative;
}
.row_1 img {
  height: 400px;
}
/*# sourceMappingURL=basil_desktop.css.map */
/*# sourceMappingURL=basil_desktop.css.map */