@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,600');


.casestudiesbasilprodarchtablet {
  width               : 100%;
  min-width           : 760px;
  height              : 100vh;
  min-height          : 560px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(222, 243, 229, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.casestudiesbasilprodarchtablet .basilcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 391px;
  width               : 518px;
  position            : relative;
  margin              : 0;
  left                : 121px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 391px;
  width               : 518px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .nav {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : 12px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .nav .appetizers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.17px;
  line-height         : 9.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .nav .entr351es {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.17px;
  line-height         : 9.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .nav .rectangle2 {
  background-color    : rgba(53, 104, 89, 1.0);
  top                 : 11px;
  height              : 1px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .nav .desserts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.17px;
  line-height         : 9.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .nav .cocktails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.17px;
  line-height         : 9.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .icbookmark {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 483px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .icbookmark .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .icbookmark .stroke1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .icbookmark .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .icbookmark .stroke5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .icbookmark .fill7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 23px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .logo .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .logo .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .logo .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .logo .fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 21px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .logo .fill6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .logo .fill9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .systabletland {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 12px;
  width               : 512px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .systabletland .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 512px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .systabletland .circle {
  background-color    : rgba(53, 104, 88, 1.0);
  top                 : 4px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .systabletland .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 5px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 502px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .systabletland .square {
  background-color    : rgba(53, 104, 88, 1.0);
  top                 : 4px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 485px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .rectangle {
  background-color    : rgba(55, 150, 111, 1.0);
  top                 : 102px;
  height              : 1px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .heartyorganicentr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 129px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 9.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 14.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .rectangle1 {
  background-color    : rgba(55, 150, 111, 1.0);
  top                 : 194px;
  height              : 1px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchtablet .basilcopy2 .beefpotpie {
  background-color    : rgba(255,255,255,0.0);
  top                 : 343px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 9.0px;
  color               : rgba(253, 85, 35, 1.0);
  text-align          : center;
  letter-spacing      : 0.1px;
  line-height         : 12.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .img {
  background-color    : rgba(255,255,255,0.0);
  top                 : 240px;
  height              : 92px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchtablet .basilcopy2 .herbroastedchicken {
  background-color    : rgba(255,255,255,0.0);
  top                 : 311px;
  height              : auto;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 271px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(253, 85, 35, 1.0);
  text-align          : center;
  letter-spacing      : 0.15px;
  line-height         : 20.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .img1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : 196px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 271px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchtablet .basilcopy2 .creamypestopasta {
  background-color    : rgba(255,255,255,0.0);
  top                 : 311px;
  height              : auto;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : -85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(253, 85, 35, 1.0);
  text-align          : center;
  letter-spacing      : 0.15px;
  line-height         : 20.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .img2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : 196px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : -85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchtablet .basilcopy2 .spinachfilopuffs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 205px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 454px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 9.0px;
  color               : rgba(253, 85, 35, 1.0);
  text-align          : center;
  letter-spacing      : 0.1px;
  line-height         : 12.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .img3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : 92px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 449px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchtablet .basilcopy2 .mediterraneanseafoo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 343px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 454px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 9.0px;
  color               : rgba(253, 85, 35, 1.0);
  text-align          : center;
  letter-spacing      : 0.1px;
  line-height         : 12.0px;
}
.casestudiesbasilprodarchtablet .basilcopy2 .img4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 240px;
  height              : 92px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 449px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}