@import url('https://fonts.googleapis.com/css?family=Montserrat:600,500,700');


.casestudiesbasilprodarchdesktop {
  width               : 100%;
  min-width           : 760px;
  height              : 100vh;
  min-height          : 560px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(222, 243, 229, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.casestudiesbasilprodarchdesktop .basil {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : 427px;
  width               : 646px;
  position            : relative;
  margin              : 0;
  left                : 57px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 427px;
  width               : 646px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .rectangle {
  background-color    : rgba(55, 150, 111, 1.0);
  top                 : 108px;
  height              : 1px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .heartyorganicentr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 135px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 245px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 9.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 14.0px;
}
.casestudiesbasilprodarchdesktop .basil .rectangle1 {
  background-color    : rgba(55, 150, 111, 1.0);
  top                 : 200px;
  height              : 1px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .guiltfreerecipes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 399px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 9.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 14.0px;
}
.casestudiesbasilprodarchdesktop .basil .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 380px;
  height              : 1px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 416px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .img {
  background-color    : rgba(255,255,255,0.0);
  top                 : 108px;
  height              : 92px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchdesktop .basil .spinachfilopuffs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 211px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 9.0px;
  color               : rgba(253, 85, 35, 1.0);
  text-align          : center;
  letter-spacing      : 0.1px;
  line-height         : 12.0px;
}
.casestudiesbasilprodarchdesktop .basil .img1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 244px;
  height              : 92px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchdesktop .basil .beefpotpie {
  background-color    : rgba(255,255,255,0.0);
  top                 : 347px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 9.0px;
  color               : rgba(253, 85, 35, 1.0);
  text-align          : center;
  letter-spacing      : 0.1px;
  line-height         : 12.0px;
}
.casestudiesbasilprodarchdesktop .basil .img2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 244px;
  height              : 92px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchdesktop .basil .creamypestopasta {
  background-color    : rgba(255,255,255,0.0);
  top                 : 347px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 246px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 9.0px;
  color               : rgba(253, 85, 35, 1.0);
  text-align          : center;
  letter-spacing      : 0.1px;
  line-height         : 12.0px;
}
.casestudiesbasilprodarchdesktop .basil .img3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 108px;
  height              : 204px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 417px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchdesktop .basil .herbroastedchicken {
  background-color    : rgba(255,255,255,0.0);
  top                 : 325px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(253, 85, 35, 1.0);
  text-align          : center;
  letter-spacing      : 0.15px;
  line-height         : 20.0px;
}
.casestudiesbasilprodarchdesktop .basil .img4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 380px;
  height              : 92px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchdesktop .basil .img5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 380px;
  height              : 92px;
  width               : 163px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.casestudiesbasilprodarchdesktop .basil .nav {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 23px;
  width               : 399px;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .nav .appetizers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.17px;
  line-height         : 9.0px;
}
.casestudiesbasilprodarchdesktop .basil .nav .entr351es {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.17px;
  line-height         : 9.0px;
}
.casestudiesbasilprodarchdesktop .basil .nav .rectangle3 {
  background-color    : rgba(53, 104, 89, 1.0);
  top                 : 11px;
  height              : 1px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .nav .desserts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.17px;
  line-height         : 9.0px;
}
.casestudiesbasilprodarchdesktop .basil .nav .cocktails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(53, 104, 89, 1.0);
  text-align          : center;
  letter-spacing      : 0.17px;
  line-height         : 9.0px;
}
.casestudiesbasilprodarchdesktop .basil .icbookmark {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .icbookmark .rectangle21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .icbookmark .stroke1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .icbookmark .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .icbookmark .stroke5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .icbookmark .fill7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 7px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : 23px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 277px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .logo .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .logo .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .logo .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .logo .fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 21px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .logo .fill6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .logo .fill9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 16px;
  width               : 640px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .group7 .titlebarbg {
  background-color    : rgba(236, 233, 213, 1.0);
  top                 : 0px;
  height              : 16px;
  width               : 640px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .group7 .minimise {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 1px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 594px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .group7 .maximise {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 6px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 610px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.casestudiesbasilprodarchdesktop .basil .group7 .close {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 626px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}