
.device{
    width: 2500px;
    height: 1250px;
    background: #393939;
    box-shadow: 0vh 0vh 0vh 20vh #393939;
}
#device_1{
	z-index: 11;
	top: 110px;
	position: absolute;
	left: 350px;}
#device_2{
    z-index: 13;
    top: 355px;
    position: absolute;
    left: 1235px;}
#device_3>div{
	box-shadow: none !important
}
#device_3{
	z-index: 15;
    left: 90px;
    position: absolute;
    top: 505px;
}

#device_1_frame{
	position: absolute;
	left: 260px;
	z-index: 10;
	top: 20px;
	width: 1430px;}
#device_2_frame{
	position: absolute;
	z-index: 12;
	width: 1275px;
	left: 1130px;
	top: 280px;}
#device_3_frame{
	position: absolute;
	width: 480px;
	z-index: 14;
	left: 30px;
	top: 400px;
}