@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Raleway:600,500,700,400,300|Roboto:500,300,400|Merriweather:700,900,300,400');


.fortnightly {
    box-shadow:0vh 0vh 7px rgba(60, 64, 67, 0.33), 0vh 0vh 0px 100vh rgb(237, 237, 237) !important;
  margin-left: 0 !important;
  height              : 640px;
  width               : 360px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(237, 237, 237, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.fortnightly .appbarbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 640px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1070px;
  width               : 360px;
  position            : relative;
  margin              : 0;
  left                : -3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .leadarticle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  width               : 360px;
  position            : relative;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .leadarticle .img {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 248px;
  width               : 360px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.fortnightly .group .leadarticle .body {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 328px;
  position            : relative;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
    padding-bottom: 15px;
}
.fortnightly .group .leadarticle .body .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 388px;
  height              : 2px;
  width               : 98px;
  position            : relative;
  margin              : 0;
  left                : 137px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .leadarticle .body .placethatlookssaf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 328px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Merriweather", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(102, 102, 102, 1.0);
  text-align          : left;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.fortnightly .group .leadarticle .body .placethatlookssaf .span1 {
  text-align          : justify;
}
.fortnightly .group .leadarticle .body .placethatlookssaf .span2 {
  text-align          : justify;
}
.fortnightly .group .leadarticle .body .heneighborhoodthat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Merriweather", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(102, 102, 102, 1.0);
  text-align          : left;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.fortnightly .group .leadarticle .body .t {
  background-color    : rgba(255,255,255,0.0);
  top                 : -20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Merriweather", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : italic;
  font-size           : 96.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.71px;
  line-height         : 32.0px;
}
.fortnightly .group .leadarticle .author {
    background-color: rgba(255,255,255,0.0);
    top: 0px;
    height: 40px;
    width: 100%;
    position: relative;
    margin: 0;
    left: 16px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: 20px;
    margin-bottom: 20px;
}
.fortnightly .group .leadarticle .author .author1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  vertical-align: middle;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .leadarticle .author .author2 {
  vertical-align: middle;
}
.fortnightly .group .leadarticle .howonewomanistra {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 328px;
  position            : relative;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(102, 102, 102, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.fortnightly .group .leadarticle .povertytoempowerme {
    background-color: rgba(255,255,255,0.0);
    margin-top: 6px;
    height: auto;
    width: 100%;
    position: relative;
    margin: 0;
    padding-left: 16px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "MarkerFelt-Wide", Helvetica, Arial, serif;
    font-size: 34.0px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    letter-spacing: 0.61px;
    line-height: 32.0px;
    margin-top: 20px;
    font-family: Aclonica;
    line-height: 1.3;
    margin-bottom: 20px;
    padding-right: 16px;
    box-sizing: border-box;
}
.fortnightly .group .leadarticle .povertytoempowerme .span1 {
  text-align          : justify;
}
.fortnightly .group .leadarticle .povertytoempowerme .span2 {
  text-align          : justify;
}
.fortnightly .group .leadarticle .us {
  background-color    : rgba(255,255,255,0.0);
  top                 : 265px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.5px;
  line-height         : 12.0px;
}
.fortnightly .group .leadarticle .poverty {
  background-color    : rgba(255,255,255,0.0);
  top                 : 265px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.5px;
  line-height         : 12.0px;
}
.fortnightly .group .leadarticle .a254 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 265px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.5px;
  line-height         : 12.0px;
}
.fortnightly .group .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 56px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 62px;
  width               : 102px;
  position            : relative;
  margin              : 0;
  left                : -3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 62px;
  width               : 102px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 62px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 .icmenugrey600 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 .icmenugrey600 .icarrowback24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 .icmenugrey600 .icarrowback24px .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 .icmenugrey600 .icarrowback24px .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 .monogram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 .monogram .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 .monogram .page1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .header .m2appbarshort .m2appbarshort1 .monogram .page1 .page11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .syslgtbk {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .syslgtbk .syslgtbk1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 360px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .syslgtbk .syslgtbk1 .fill47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .syslgtbk .syslgtbk1 .rectangle7 {
  background-color    : rgba(143, 143, 143, 1.0);
  top                 : 7px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 324px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .syslgtbk .syslgtbk1 .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 10px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fortnightly .group .syslgtbk .syslgtbk1 .rectangle7copy {
  background-color    : rgba(143, 143, 143, 1.0);
  top                 : 7px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 306px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}