#container_2 .pattern_wrapper {
    width: 1000px;
    height: 500px;
    position: absolute;
}
           .rotate>div {
    box-shadow: 0vh 0vh 1vh rgb(154, 159, 163);
                background-color    : rgb(237, 240, 242);
                width:                360px;
                height:               640px;
                position            : fixed;
                margin              : 0;
                overflow            : hidden;
                left: calc(50% - 180px);
                top: calc(50% - 320px);
            }
            .rotate {
    width: 100%;
    transform: rotate(-45deg);
    height: 100%;
    position: absolute;
}
            .rotate>div:nth-child(1) {
                margin-left:-420px
            }
            .rotate>div:nth-child(2) {
                margin-top:-340px
            }
            .rotate>div:nth-child(3) {
                margin-left:420px
}
            .rotate>div:nth-child(4) {
                margin-top:340px
            }