.reply_componentssidetitle .bodytext{
    left: 310px;
}
.reply_componentssidetitle .feedmobile5copy{
    left: 720px;
    top: 40px;
}
.reply_componentssidetitle .star_feed{
    top: 40px;
    left: 320px
    }
.reply_componentssidetitle .group{
    left: 720px;
    top: 300px;}
.reply_componentssidetitle .reply_tile_1{
    width: 360px;
    /* left: 310px; */
    position: absolute;
    left: 720px;
    top: 395px;}
.reply_componentssidetitle #font_title {
    text-align: left;
    left: -200px;
    top: 180px;
    margin-top: 80px;
    transform: translateY(-100%);
    width: 860px;
    border-bottom: 1px dotted #4a4a4a;
    z-index: 10000;
    padding-left: 120px;
    padding-right: 350px;
    box-sizing: border-box;
}
.paring_font_title{
    position: absolute;
    width: 100%;
    left: 0;
    padding-left: 120px;
    padding-top:58px;
    line-height: 24px;
    border-bottom:1px dotted #4a4a4a; 
    box-sizing: border-box
}