
.topics_single_3 .mask {
  background-color    : rgba(37, 25, 28, 1.0);
  top                 : 0px;
  height              : 641px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 {
  background-color    : rgb(27, 28, 36);
  top                 : 0px;
  height              : 809px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}





.topics_single_3 .text .step {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.87;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.13px;
  line-height         : 36.0px;
}
.topics_single_3 .text .body {
  background-color    : rgba(255,255,255,0.0);
  height              : auto;
  width               : 328px;
  position            : relative;
  margin-left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}




.topics_single_3 .comsheetdynamiccollapsed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 548px;
  height              : 92px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .comsheetdynamiccollapsed .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 92px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .comsheetdynamiccollapsed .comsheetdynamiccollapsed1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 144px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 288px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .comsheetdynamiccollapsed .comsheetdynamiccollapsed1 .comsheetdynamiccollapsed2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .icplaylist {
  background-color    : rgba(255,255,255,0.0);
  top                 : 603px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 323px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .icplaylist .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .icplaylist .colorfff {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 15px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .icplaylist .colorfff .colorfff1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 208px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video .img {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 204px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video .videoscrim {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 204px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video .videoscrim .videoscrim1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 204px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video .scrubber {
  background-color    : rgba(255,255,255,0.0);
  top                 : 196px;
  height              : 12px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video .scrubber .rectangle5 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 4px;
  height              : 4px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.topics_single_3 .video .scrubber .rectangle51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 4px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
}
.topics_single_3 .video .scrubber .rectangle52 {
  background-color    : rgba(255, 235, 70, 1.0);
  top                 : 4px;
  height              : 4px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video .scrubber .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video .icpause {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : 48px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
}
.topics_single_3 .video .icpause .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video .icpause .colorfff {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 28px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .video .icpause .colorfff .colorfff1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .icarrowdown {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
}
.topics_single_3 .icarrowdown .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .icarrowdown .colorfff {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 8px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .icarrowdown .colorfff .colorfff1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 8px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .sysowlblack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .sysowlblack .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .sysowlblack .fill47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .sysowlblack .rectangle7 {
  background-color    : rgba(143, 143, 143, 1.0);
  top                 : 7px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 324px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .sysowlblack .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 10px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.topics_single_3 .sysowlblack .rectangle7copy {
  background-color    : rgba(143, 143, 143, 1.0);
  top                 : 7px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 306px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}