body, div, input, select, button {
    font-family: 'Roboto mono', sans-serif;
    margin: 0
}
body{overflow: hidden;}
*{
    color: #4a4a4a;}
#top {
    box-shadow: 0px 0px 4px 4px rgba(60, 64, 67, 0.33);
    box-sizing: border-box;
    display: inline-block;
    padding-left: 24px;
    height: 60px;
    width: 100vw;
    background: #EDEDED;
    position: relative;
    float: left;
    left: 0;
    z-index: 10;
}
#fontlist_wrapper{
    display: inline-block;
    min-height: 100%;
    position: relative;
    z-index: 10;
    position: relative;
}
#select_fonts{
    display: inline-block;
    white-space: nowrap;
    border-radius: 6px;
    margin-top: 10px;
    z-index: 10;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 60px;
    position: relative;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-image: url(dropdown.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;
}
#select_fonts img{
    width: 10px
}
#objectlist_wrapper{
    padding-top: 10px;
    box-shadow: 0px 0px 3px 3px rgba(60, 64, 67, 0.33);
     opacity: 0; 
    overflow: hidden;
    background: #ffffff;
    cursor: pointer;
     pointer-events: none; 
    height: 0px;
    margin-top: -10px;
    z-index: 100;
    position: relative;
    border-radius: 6px;
}
#fontlist_wrapper:hover #objectlist_wrapper{
    pointer-events: all;
    opacity: 1;
    height: 420px;
}
#fontlist_wrapper:hover #select_fonts{
    background-color: #cecece;
}
.ps-scrollbar-x-rail,.ps-scrollbar-y-rail{
    pointer-events: none;
}
#objectlist_wrapper .fontlist{
    font-size: 14px;
    line-height: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
#objectlist_wrapper .fontlist:hover{
    background: #d2d2d2;
    cursor: pointer;
}
#googlefont{
    color: white;
    background: #0086ea;
    display: inline-block;
    top: 0;
    /* position: absolute; */
    border-radius: 22px;
    margin-top: 10px;
    z-index: 10;
    height: 40px;
    line-height: 40px;
    /* text-transform: uppercase; */
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* background-image: url(dropdown.svg); */
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
    float: right;
    margin-right: 24px;}
#googlefont:hover{
    background: #d2d2d2;
}



#table_wrapper{
    width: 50%;
    float: left;
    height: calc(100vh - 60px)
}
*{
    line-height: 1
}
.table{
    width: calc(100% - 20px);
    border-spacing: 0;
    border-collapse: collapse;
    height: 50vw;
    height: 0;
    margin-top: calc(50% + 20px);
    transform: translateY(-50%);
    margin-left: 10px;
}
.table>*{
                color: black;
  border-collapse: collapse;
    font-weight: 300;
    font-size: 11px;
    padding:0;
    margin:0;
    margin:0;padding:0 auto;box-sizing:border-box;
}
.table tr{
    border-bottom: 1px solid #cccccc
}
.table td,
.table th{
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: left;
    cursor: pointer;
}
.y_1 .x_1{
    white-space:inherit !important;
}
.x_1{
    border-left: 1px dotted #cccccc;
}
.table th{
    padding-top: 20px;
    padding-bottom: 20px}
.table .y{
    width: 100%;
}
.table .y div{
    float: left;
}
.table .x{
    float: left;
    display: inline-block;
}
.hovered{background-color: #0086ea80 !important}


/*.table{
    border-collapse:collapse;
    width:100%;
    height:100%;
    box-sizing:border-box;
}
.table td{
    padding:0px !important;
    vertical-align:top;
}*/
/*.table tr:last-child{
    height:100%;
}*/

.x_1{
    vertical-align: bottom;
    min-width: 25%
}
.x_2{
    min-width: 15%
}
.x_3{
    min-width: 15%
}
.x_4{
    min-width: 10%
}
.x_5{
    min-width: 15%
}
.x_6{
    min-width: 20%
}
.y_1 div{
    display: block;
}


.x_2,
.x_3,
.x_4{
    line-height: 1.3;
    text-align: right !important;
    padding: 0 !important;
    display: block;
    padding-right: 15px !important;
    min-width: 100px;}
.x_2{
    padding-top: 0.1vh !important;
}
.x_4{
    padding-bottom: 0.1vh !important;
}
            .h1, .y_1 .x_1{ 
            font-size:96px !important;
            font-weight: 100 !important;
            text-transform: none !important;
            letter-spacing: -1.5px !important;
            }
            .h2, .y_2 .x_1{ 
            font-size:60px !important;
            font-weight: 100 !important;
            text-transform: none !important;
            letter-spacing: -0.5px !important;
            }
            .h3, .y_3 .x_1{ 
            font-size:48px !important;
            font-weight: 300 !important;
            text-transform: none !important;
            letter-spacing: 0px !important;
            }
            .h4, .y_4 .x_1{  
            font-size:34px !important;
            font-weight: 300 !important;
            text-transform: none !important;
            letter-spacing: 0.25px !important;
            }
            .h5, .y_5 .x_1{ 
            font-size:24px !important;
            font-weight: 300 !important;
            text-transform: none !important;
            letter-spacing: 0 !important;
            }
            .h6, .y_6 .x_1{ 
            font-size:20px !important;
            font-weight: 400 !important;
            text-transform: none !important;
            letter-spacing: 0.15px !important;
            }
            .subtitle1, .y_7 .x_1{  
            font-size:16px !important;
            font-weight: 300 !important;
            text-transform: none !important;
            letter-spacing: 0.15px !important;
            }
            .subtitle2, .y_8 .x_1{ 
            font-size:14px !important;
            font-weight: 400 !important;
            text-transform: none !important;
            letter-spacing: 0.1px !important;
            }
            .body1, .y_9 .x_1{  
            font-size:16px !important;
            font-weight: 300 !important;
            text-transform: none !important;
            letter-spacing: 0.5px !important;
            }
            .body2, .y_10 .x_1{ 
            font-size:14px !important;
            font-weight: 300 !important;
            text-transform: none !important;
            letter-spacing: 0.25px !important;
            }
            .button, .y_11 .x_1{ 
            font-size:14px !important;
            font-weight: 400 !important;
            text-transform: uppercase !important;
            letter-spacing: 1.25px !important;
            }
            .caption, .y_12 .x_1{ 
            font-size:12px !important;
            font-weight: 300 !important;
            text-transform: none !important;
            letter-spacing: 0.4px !important;
            }
            .overline, .y_13 .x_1{ 
            font-size:10px !important;
            font-weight: 300 !important;
            text-transform: uppercase !important;
            letter-spacing: 1.5px;
            }

.y_1,.y_0{
    /*border-top: 1px solid gray;*/
    pointer-events: none;
}
.y_13{
    border-bottom: 0px solid gray !important
}
            .y_1 .x_1{
                padding-top: 100vh;
            }
            .y_1 .x_2{
                padding-top: 101vh !important;
            }
            .y_13 .x_1{
                padding-top: 22.5px;
                padding-bottom: 100vh;
            }
tr, .h1,.h2,.h3,.h4,.h5,.h6,.subtitle1,.subtitle2,.body1,.body2,.button,.caption,.overline,
#googlefont, #select_fonts{
    transition: background-color 0.1s ease-in
}
#objectlist_wrapper{
    transition: opacity 0.1s ease-in
}
.topbar{
    width: 100%;
    height: 22.5px;
    position: absolute;
    background-color: #EDEDED;
    z-index: 10000;}
            /*------------sketch_1-----------*/
#sketch_wrapper{
    overflow: hidden;
    width: 50%;
    float: left;
    height: calc(100vh - 60px);
    position: relative;
    background-color: #EDEDED;
}
#select_sketch_frame{
    transform: translateY(100%) translateX(-50%);
    position: absolute;
    vertical-align: top;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    left: 25vw;
    }
.sketch{
    box-shadow: 0vh 0vh 7px rgba(60, 64, 67, 0.33);}
.select_sketch{ 
    vertical-align: middle;
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px !important;
    background-color: black;
    cursor: pointer;
    opacity: 0.5;
    text-indent: 1px;
    color: white !important;
    display: none;
    float: left;
    top: 17.5px;
    margin-left: 8px;
    padding-right: 1px;
    box-sizing: border-box;

}
.select_sketch:hover{
    opacity: 0.75;
}

.selected{
    opacity: 1 !important;
    pointer-events: all !important
}
.selectable{
    display: block !important;
}
            #sketch_wrapper *{
                box-sizing: border-box;
            }
            .ps-scrollbar-y-rail{
                position: absolute;
            }
            #sketch_frame{ 
    height: 652px;
    width: 372px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
            }
            #sketch_1, #sketch_2, #sketch_3, #sketch_4, #sketch_5, #sketch_6{
                background-color: white;
                display: none;
                width: 360px;
                height: 640px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                overflow:hidden;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.5s

            } 
            #sketch_1>div, #sketch_2>div, #sketch_3>div, #sketch_4>div, #sketch_5>div, #sketch_6>div{
                width: 360px;
                height: 640px;
                overflow:hidden;
            }
            #sketch_1>div>.content, #sketch_2>div>.content, #sketch_3>div>.content, #sketch_4>div>.content, #sketch_5>div>.content, #sketch_6>div>.content{ 
                width: 360px !important;
                height: 640px !important;
                overflow:hidden;
            }
            #sketch_1{
                /*background-image: url(img/Untitled-4-01.png);*/
                background-size: contain;
                background-repeat: no-repeat;

                box-sizing: border-box;
            }
            /*------------sketch_1-----------*/
            /*------------sketch_2-----------*/
            #sketch_2{
                width: 360px;
                /*background-image: url(img/Untitled-4-02.png);*/
                background-size: contain;
                background-repeat: no-repeat;

                box-sizing: border-box;
            }
            /*------------sketch_2-----------*/
            /*------------sketch_3-----------*/
            /*------------sketch_3-----------*/
            /*------------sketch_4-----------*/
            #sketch_4{
                width: 360px;
                /*background-image: url(img/Untitled-4-02.png);*/
                background-size: contain;
                background-repeat: no-repeat;

                box-sizing: border-box;
            }
            #sketch_1{
                box-shadow:0vh 0vh 7px rgba(60, 64, 67, 0.33), 0vh 0vh 0px 100vh rgb(237, 237, 237)
            }
            #sketch_2{
                box-shadow:0vh 0vh 7px rgba(60, 64, 67, 0.45), 0vh 0vh 0px 100vh #f5d7e6
            }
            #sketch_3{
                box-shadow:0vh 0vh 7px rgba(60, 64, 67, 0.33), 0vh 0vh 0px 100vh rgb(237, 237, 237)
            }
            #sketch_4{
                box-shadow:0vh 0vh 7px rgba(60, 64, 67, 0.33), 0vh 0vh 0px 100vh #def3e5
            }
            #sketch_5{
                box-shadow:0vh 0vh 7px rgba(60, 64, 67, 0.33), 0vh 0vh 0px 100vh rgb(237, 237, 237)
            }
            #sketch_6{
                box-shadow:0vh 0vh 7px rgba(60, 64, 67, 0.33), 0vh 0vh 0px 100vh #feeae6
            }
@-webkit-keyframes loading {
    0% {width: 0%;}
    60% {width: 100%;}
    100% {width: 100%;}
}
@-webkit-keyframes loading_2 {
    0% {transform: scaleX(1);}
    40% {transform: scaleX(1);}
    100% {transform: scaleX(0);}
}
.hide{
    opacity: 0;
    pointer-events: none;
}
.loading_wrapper{
    transition: transform 0.3s ease-out;
}
.fadedown{
    transform:translateY(10px);
}
            /*------------sketch_3-----------*/