body, div, input, select, button {
    font-family: 'Roboto mono', sans-serif;
    margin: 0
}
body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
*{
    line-height: 1;
    color: #4a4a4a;
}
#top {
    box-shadow: 0px 0px 4px 4px rgba(60, 64, 67, 0.33);
    box-sizing: border-box;
    display: inline-block;
    padding-left: 24px;
    height: 60px;
    width: 100vw;
    background: #EDEDED;
    position: relative;
    float: left;
    left: 0;
    z-index: 10;
}
#saveimage_wrapper,
#fontlist_wrapper{
    float: left;
    display: inline-block;
    min-height: 100%;
    position: relative;
    z-index: 10;
    position: relative;
}
#saveimage_wrapper{
    float: right;
}
.select_layout{
    float: left;
    color: white;
    background: #61bbff;
    display: inline-block;
    top: 0;
    border-radius: 22px;
    margin-top: 10px;
    z-index: 10;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
    float: right;
    margin-right: 16px;
    transition: 0.3s
}
.select_layout:hover{
    background:#0086ea; 
}
.select_layout_selected{
    background:#0086ea; 
}
#save,
#select_fonts{
    display: inline-block;
    white-space: nowrap;
    border-radius: 6px;
    margin-top: 10px;
    z-index: 10;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 60px;
    position: relative;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-image: url(dropdown.svg); 
    /*background-image: url(dropdown.svg);*/
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;
}
#select_fonts img{
    width: 10px
}
#savelist,
#objectlist_wrapper{
    padding-top: 10px;
    box-shadow: 0px 0px 3px 3px rgba(60, 64, 67, 0.33);
     opacity: 0; 
    overflow: hidden;
    background: #ffffff;
    cursor: pointer;
     pointer-events: none; 
    height: 0px;
    margin-top: -10px;
    z-index: 100;
    position: relative;
    border-radius: 6px;
}
#fontlist_wrapper:hover #objectlist_wrapper{
    pointer-events: all;
    opacity: 1;
    height: 420px;
}
#fontlist_wrapper:hover #select_fonts{
    background-color: #cecece;
}
.ps-scrollbar-x-rail,.ps-scrollbar-y-rail{
    pointer-events: none;
}
#savelist>div,
#objectlist_wrapper .fontlist{
    font-size: 14px;
    line-height: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
#savelist>div{
    padding-right: 20px;
}
#savelist>div:hover,
#objectlist_wrapper .fontlist:hover{
    background: #d2d2d2;
    cursor: pointer;
}
#googlefont{
    color: white;
    background: #0086ea;
    display: inline-block;
    top: 0;
    /* position: absolute; */
    border-radius: 22px;
    margin-top: 10px;
    z-index: 10;
    height: 40px;
    line-height: 40px;
    /* text-transform: uppercase; */
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* background-image: url(dropdown.svg); */
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
    float: right;
    margin-right: 24px;
}
#saveimage_wrapper:hover #savelist{
    pointer-events: all;
    opacity: 1;
    height: 160px;
}
#googlefont:hover{
    background: #d2d2d2;
}


/*----------------------------table----------------------------*/
/*----------------------------table----------------------------*/
/*----------------------------table----------------------------*/
/*----------------------------table----------------------------*/
/*----------------------------table----------------------------*/


#table_wrapper{
    box-shadow: 0vh 0vh 0.8vh #ededed;
    width: 50%;
    float: left;
    height: 52.3vw;
    z-index: 1000;
    position: relative;
}
.table{
    width: calc(100% - 20px);
    border-spacing: 0;
    border-collapse: collapse;
    /* height: 50vw; */
    /* height: 0; */
    /* margin-top: calc(50% + 20px); */
    transform: translateY(-50%);
    margin-left: 10px;
    margin-top: 26.15vw;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    max-height: 1100px;
}
.table>*{
    color: black;
    border-collapse: collapse;
    font-weight: 300;
    font-size: 11px;
    padding:0;
    margin:0;
    margin:0;padding:0 auto;box-sizing:border-box;
}
    .table>div{
        display: flex;
    }
    .table>div>div{
        vertical-align: bottom;
    }
    .table_title{
        width: 10%
    }
.y_1 .x_1{
    white-space:inherit !important;
}
.x_1{
    border-left: 1px dotted #cccccc;
}
.table .y{
    width: 100%;
}
.table .y div{
    float: left;
}
.table .x{
    float: left;
    display: inline-block;
}
.hovered{background-color: #0086ea80 !important}
.x_1{
    padding-left: 15px;
    vertical-align: bottom;
    min-width: 25%;
    white-space: nowrap;
}
.x_2{
    min-width: 15%
}
.x_3{
    min-width: 15%
}
.x_4{
    min-width: 10%
}
.x_5{
    min-width: 15%
}
.x_6{
    min-width: 20%
}
.y_1 div{
    display: block;
}
.x_2,
.x_3,
.x_4{
    line-height: 1.3;
    text-align: right !important;
    padding: 0 !important;
    display: block;
    padding-right: 15px !important;
    min-width: 50px;
}
.x_2{
    padding-top: 0.1vh !important;
}
.x_4{
    padding-bottom: 0.1vh !important;
}
.h1, .y_1 .x_1{ 
font-size:96px !important;
font-weight: 100 !important;
text-transform: none !important;
letter-spacing: -1.5px !important;
}
.h2, .y_2 .x_1{ 
font-size:60px !important;
font-weight: 100 !important;
text-transform: none !important;
letter-spacing: -0.5px !important;
}
.h3, .y_3 .x_1{ 
font-size:48px !important;
font-weight: 300 !important;
text-transform: none !important;
letter-spacing: 0px !important;
}
.h4, .y_4 .x_1{  
font-size:34px !important;
font-weight: 300 !important;
text-transform: none !important;
letter-spacing: 0.25px !important;
}
.h5, .y_5 .x_1{ 
font-size:24px !important;
font-weight: 300 !important;
text-transform: none !important;
letter-spacing: 0 !important;
}
.h6, .y_6 .x_1{ 
font-size:20px !important;
font-weight: 400 !important;
text-transform: none !important;
letter-spacing: 0.15px !important;
}
.subtitle1, .y_7 .x_1{  
font-size:16px !important;
font-weight: 300 !important;
text-transform: none !important;
letter-spacing: 0.15px !important;
}
.subtitle2, .y_8 .x_1{ 
font-size:14px !important;
font-weight: 400 !important;
text-transform: none !important;
letter-spacing: 0.1px !important;
}
.body1, .y_9 .x_1{  
font-size:16px !important;
font-weight: 300 !important;
text-transform: none !important;
letter-spacing: 0.5px !important;
}
.body2, .y_10 .x_1{ 
font-size:14px !important;
font-weight: 300 !important;
text-transform: none !important;
letter-spacing: 0.25px !important;
}
.button, .y_11 .x_1{ 
font-size:14px !important;
font-weight: 400 !important;
text-transform: uppercase !important;
letter-spacing: 1.25px !important;
}
.caption, .y_12 .x_1{ 
font-size:12px !important;
font-weight: 300 !important;
text-transform: none !important;
letter-spacing: 0.4px !important;
}
.overline, .y_13 .x_1{ 
font-size:10px !important;
font-weight: 300 !important;
text-transform: uppercase !important;
letter-spacing: 1.5px;
}
.y_1,.y_0{
    pointer-events: none;
}
.y_13{
    border-bottom: 0px solid gray !important
}
tr, .h1,.h2,.h3,.h4,.h5,.h6,.subtitle1,.subtitle2,.body1,.body2,.button,.caption,.overline,
#googlefont, #select_fonts{
    transition: background-color 0.1s ease-in
}
    .table>div{
    border-bottom: 1px solid #ededed;
    display: flex;
    }
    .table>div>div{
  display: inline-block;
  align-self: flex-end;
    }
    .table_title{
        width: 10%
    }




/*----------------------------sketch----------------------------*/
/*----------------------------sketch----------------------------*/
/*----------------------------sketch----------------------------*/
/*----------------------------sketch----------------------------*/
/*----------------------------sketch----------------------------*/
#objectlist_wrapper{
    transition: opacity 0.1s ease-in
}
.container{
    display: none;
}
.selected_container{
    display: block !important;
}
#container_2{background-color:rgb(230, 230, 230)}
#container_1,
#container_2,
#container_3,
#container_4,
#container_5,
#container_6{
    /*background-image: url('bgs/3.png');*/
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 52.3vw;
    margin-top: 60px;
    position: absolute;
    display: none;
} 
.zindex{
    z-index: 1 !important
}
#container_1{
    /*display: block;*/
}
#container_1>div,
#container_2>div,
#container_3>div,
#container_4,
#container_5>div,
#container_6{
    position: absolute;
    width: 100%;
    height: 100%
}
#container_2>div>div,
#container_3>div>div,
#container_4>div,
#container_5>div>div,
#container_6>div{
    left: 50%;
    top: 50%;
    position: absolute;
}
.template{
    display: none;
    opacity: 0;
    position: absolute;
}
.showable{
    display: block !important;
}
.shown{
    opacity: 1 !important;

}

#sketch_wrapper{
    overflow: hidden;
    width: 50%;
    float: left;
    height: 52.3vw;
    position: relative;
    background-color: #EDEDED;
}
#select_single_frame,
#select_layout_pattern_frame,
#select_layout_device_frame,
#select_layout_desktop_frame{
    transform: translateX(-50%) translateY(-100%);
    position: absolute;
    vertical-align: top;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    left: 25vw;
    /* top: -50px; */
    z-index: 100000;
    width: auto !important;
    height: 60px !important;
    }
#select_layout_device_frame,
#select_layout_pattern_frame,
#select_layout_desktop_frame{
    left: 25vw;
}
.select_single,
.select_layout_pattern,
.select_layout_device,
.select_layout_desktop{ 
    vertical-align: middle;
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px !important;
    background-color: black;
    cursor: pointer;
    opacity: 0.5;
    text-indent: 1px;
    color: white !important;
    display: none;
    float: left;
    top: 17.5px;
    margin-left: 8px;
    padding-right: 1px;
    box-sizing: border-box;
}
.select_single:hover{
    opacity: 0.75;
}

.selected{
    opacity: 1 !important;
    pointer-events: all !important
}
.selectable{
    display: block !important;
}
#sketch_wrapper *{
    box-sizing: border-box;
}
.ps-scrollbar-y-rail{
    position: absolute;
}
#sketch_frame{ 
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);\
}
.sketch{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow:hidden;
    transition: opacity 0.5s

} 
.sketch>div{
    position: absolute;
    width: 360px;
    height: 640px;
    overflow:hidden;
    box-shadow: 0vh 0vh 7px rgba(60, 64, 67, 0.33);
    left: 50%;
    top: 50%;
    transform:translateX(-50%) translateY(-50%);
}
.sketch>div>.content{ 
    width: 360px !important;
    height: 640px !important;
    overflow:hidden;
}





/*----------------------------sketch_each----------------------------*/
/*----------------------------sketch_each----------------------------*/
/*----------------------------sketch_each----------------------------*/
/*----------------------------sketch_each----------------------------*/
/*----------------------------sketch_each----------------------------*/
#sketch_1{
    background-size: contain;
    background-repeat: no-repeat;

    box-sizing: border-box;
}
#sketch_2{
    background-size: contain;
    background-repeat: no-repeat;

    box-sizing: border-box;
}
#sketch_4{
    background-size: contain;
    background-repeat: no-repeat;

    box-sizing: border-box;
    background-color: #DEF3E5
}
#template_1 #sketch{
    background-color:rgb(237, 237, 237)
}
#template_2 #sketch{
    background-color:#f5d7e6
}
#template_3 #sketch{
    background-color:rgb(237, 237, 237) !important
}
#template_4 #sketch{
    background-color:#def3e5 !important
}
#template_5 #sketch{
    background-color: #FFF583
}
#template_6 #sketch{
    background-color:#feeae6 !important
}

#container_5 #template_1{
    background-color: #b4c1cc
    
}
#container_5 #template_2{
    background-color:#DEF3E5
    
}
#container_5 #template_3{
    background-color: #b4c1cc
    
}
#container_5 #template_1>div,
#container_5 #template_2>div,
#container_5 #template_3>div{
    box-shadow:0vh 0vh 7px rgba(60, 64, 67, 0.33)
}

@-webkit-keyframes loading {
    0% {width: 0%;}
    60% {width: 100%;}
    100% {width: 100%;}
}
@-webkit-keyframes loading_2 {
    0% {transform: scaleX(1);}
    40% {transform: scaleX(1);}
    100% {transform: scaleX(0);}
}
.hide{
    opacity: 0;
    pointer-events: none;
}
.loading_wrapper{
    transition: transform 0.3s ease-out;
}
.fadedown{
    transform:translateY(10px);
}


.hidewhencapture{
    display: none !important
} 
.hideoverflow{
    overflow: hidden;
}


            /*------------sketch_3-----------*/
