<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/basil_single_2.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body>
            <div class="basil_single_2 basil_single">
                <div class="basil">
                    <div class="logo">
                        <div class="background">
                        </div>
                        <img src="./img/01navdrawermp4-1b-fill-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/01navdrawermp4-1b-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/01navdrawermp4-1b-fill-4@2x.png" class="fill4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/01navdrawermp4-1b-fill-6@2x.png" class="fill6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/01navdrawermp4-1b-fill-9@2x.png" class="fill9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="ingredients">
                        <div class="list_wrapper">
                            <div class="list h6">
                                Basil
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Gluten-free Spaghetti
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Garlic
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Ricotta
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Kale
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Red Pepper Flakes
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Extra Virgin Olive Oil
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Salt
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Pine Nuts
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="list list_1 h6">
                        SHOPPING LIST
                    </div>
                    <div class="rectangle5">
                    </div>
                    <div class="list subtitle2">
                        APPETIZERS
                    </div>
                    <div class="list subtitle2">
                        ENTRÉES
                    </div>
                    <div class="list subtitle2">
                        DESSERTS
                    </div>
                    <div class="list subtitle2">
                        COCKTAILS
                    </div>
                    <div class="sysmobile">
                        <div class="background">
                        </div>
                        <div class="circle">
                        </div>
                        <img src="./img/01navdrawermp4-1b-triangle@2x.png" class="triangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="square">
                        </div>
                    </div>
                    <div class="icbookmark">
                        <div class="rectangle2">
                        </div>
                        <img src="./img/01navdrawermp4-1b-stroke-1@2x.png" class="stroke1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/01navdrawermp4-1b-fill-3-1@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/01navdrawermp4-1b-stroke-5@2x.png" class="stroke5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/01navdrawermp4-1b-fill-7@2x.png" class="fill7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
            </div>
    </body>
</html>
