<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/basil_single_3.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body >
                <div class="basil_single_3 basil_single">
                    <div class="bgcontent">
                        <div class="creamypestopasta">
                            Creamy Pesto<br />Pasta
                        </div>
                    </div>
                    <div class="ingredients">
                        <div class="list_wrapper">
                            <div class="list h6">
                                Basil
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Gluten-free Spaghetti
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Garlic
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Ricotta
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Kale
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Red Pepper Flakes
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Extra Virgin Olive Oil
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Salt
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <div class="list h6">
                                Pine Nuts
                            </div>
                            <div class="icplus">
                                <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <img src="./img/04tabdrawermp4-1b-line-1@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img src="./img/04tabdrawermp4-1b-line-2.png" class="line1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="ingredients1 button">
                        INGREDIENTS
                    </div>
                    <div class="directions button">
                        DIRECTIONS
                    </div>
                    <div class="sysmobile">
                        <div class="background">
                        </div>
                        <div class="circle">
                        </div>
                        <img src="./img/04tabdrawermp4-1b-triangle@2x.png" class="triangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="square">
                        </div>
                    </div>
                </div>
    </body>
</html>
