<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/reply_components.css" rel="stylesheet" type="text/css"/>
        <link href="./css/reply_components_sidetitle.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body>
        <div class="basil_components basil_componentssidetitle">
            <div style="width: 760px; height: 100%; position:relative; margin:auto;">
                <div id="font_title">
                    <div class="main_font_title h3"></div>
                    <div class="paring_font_title">Paired With <span></span></div>
                </div>

            <div class="basil_single_1 basil_single">
                <div class="creamypestopasta h3">
                    Pot pie
                </div>
                <div class="rectangle">
                </div>
                <div class="guiltfreeglutenfr body1">
                    Guilt-free gluten-<br />free spaghetti pasta <br />is sautéed in a <br />garlic, kale pesto. <br />It’s an easy and <br />healthy dinner.
                </div>
                <div class="button ingredients">
                    INGREDIENTS
                </div>
                <div class="button directions">
                    DIRECTIONS
                </div>
                <div class="nutrition">
                    <div class="nutrition_sub_1">
                        <div>
                            <div class="subtitle2 fat">
                                Fat
                            </div>
                            <div class="subtitle2 a1g">
                                12g
                            </div>
                        </div>
                        <div>
                            <div class="subtitle2 calories">
                                Calories
                            </div>
                            <div class="subtitle2 a465g">
                                465g
                            </div>
                        </div>
                        <div>
                            <div class="subtitle2 protein">
                                Protein
                            </div>
                            <div class="subtitle2 a7g">
                                27g
                            </div>
                        </div>
                    </div>
                <div class="rectangle_2">
                </div>
                    <div class="nutrition_sub_2">
                        <div class="subtitle2 glutenu2013free">
                            <img src="./img/basil_1.png"/><span>Gluten–free</span>
                        </div>
                        <div class="subtitle2 eggfree">
                            <img src="./img/basil_1.png"/><span>Egg Free</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basil_single_3 basil_single">
                <div class="bgcontent">
                    <div class="creamypestopasta">
                        Creamy Pesto<br />Pasta
                    </div>
                </div>
                <div class="ingredients">
                    <div class="list_wrapper">
                        <div class="list h6">
                            Basil
                        </div>
                        <div class="icplus">
                            <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="list_wrapper">
                        <div class="list h6">
                            Gluten-free Spaghetti
                        </div>
                        <div class="icplus">
                            <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="list_wrapper">
                        <div class="list h6">
                            Garlic
                        </div>
                        <div class="icplus">
                            <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="list_wrapper">
                        <div class="list h6">
                            Ricotta
                        </div>
                        <div class="icplus">
                            <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="list_wrapper">
                        <div class="list h6">
                            Kale
                        </div>
                        <div class="icplus">
                            <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="list_wrapper">
                        <div class="list h6">
                            Red Pepper Flakes
                        </div>
                        <div class="icplus">
                            <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="list_wrapper">
                        <div class="list h6">
                            Extra Virgin Olive Oil
                        </div>
                        <div class="icplus">
                            <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="list_wrapper">
                        <div class="list h6">
                            Salt
                        </div>
                        <div class="icplus">
                            <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="list_wrapper">
                        <div class="list h6">
                            Pine Nuts
                        </div>
                        <div class="icplus">
                            <img src="./img/04tabdrawermp4-1b-plus-1@2x.png" class="plus" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <img src="./img/04tabdrawermp4-1b-line-1@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img src="./img/04tabdrawermp4-1b-line-2.png" class="line1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="ingredients1 button">
                    INGREDIENTS
                </div>
                <div class="directions button">
                    DIRECTIONS
                </div>
                <div class="sysmobile">
                    <div class="background">
                    </div>
                    <div class="circle">
                    </div>
                    <img src="./img/04tabdrawermp4-1b-triangle@2x.png" class="triangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="square">
                    </div>
                </div>
            </div>
            <div class="basil_single_4 basil_single">
                <div class="icarrowdown">
                    <div class="rectangle">
                    </div>
                    <img src="./img/02horizontalscrollmp4-1c-line@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="potpie h2">
                    <span>Pot Pie</span>
                </div>
                <img src="./img/02horizontalscrollmp4-1c-img.jpg" class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="logo">
                    <div class="background">
                    </div>
                    <img src="./img/02horizontalscrollmp4-1c-fill-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img src="./img/02horizontalscrollmp4-1c-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img src="./img/02horizontalscrollmp4-1c-fill-4@2x.png" class="fill4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img src="./img/02horizontalscrollmp4-1c-fill-6@2x.png" class="fill6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img src="./img/02horizontalscrollmp4-1c-fill-9@2x.png" class="fill9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="sysmobile">
                    <div class="background">
                    </div>
                    <div class="circle">
                    </div>
                    <img src="./img/02horizontalscrollmp4-1c-triangle@2x.png" class="triangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="square">
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
