<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/basil.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body>
            <div class="basil">
                <img src="./img/02parallaxmp4-1d-mask.png" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img src="./img/mobile-08-img@2x.png" class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img src="./img/casestudies-basil-steppers-2-line.png" class="line9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="creamypestopasta h3">
                    Pot pie
                </div>
                <div class="rectangle">
                </div>
                <div class="guiltfreeglutenfr body1">
                    Guilt-free gluten-<br />free spaghetti pasta <br />is sautéed in a <br />garlic, kale pesto. <br />It’s an easy and <br />healthy dinner.
                </div>
                <div class="button ingredients">
                    INGREDIENTS
                </div>
                <div class="button directions">
                    DIRECTIONS
                </div>
                <div class="nutrition">
                    <div class="nutrition_sub_1">
                        <div>
                            <div class="subtitle2 fat">
                                Fat
                            </div>
                            <div class="subtitle2 a1g">
                                12g
                            </div>
                        </div>
                        <div>
                            <div class="subtitle2 calories">
                                Calories
                            </div>
                            <div class="subtitle2 a465g">
                                465g
                            </div>
                        </div>
                        <div>
                            <div class="subtitle2 protein">
                                Protein
                            </div>
                            <div class="subtitle2 a7g">
                                27g
                            </div>
                        </div>
                    </div>
                <div class="rectangle_2">
                </div>
                    <div class="nutrition_sub_2">
                        <div class="subtitle2 glutenu2013free">
                            <img src="./img/basil_1.png"/><span>Gluten–free</span>
                        </div>
                        <div class="subtitle2 eggfree">
                            <img src="./img/basil_1.png"/><span>Egg Free</span>
                        </div>
                    </div>
                </div>
            </div>
            <img src="./img/casestudies-basil-sheet-1a-tap@2x.png" class="tap" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
    </body>
</html>
