<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/caseStudiesBasilProdArchDesktop.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(222, 243, 229, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="casestudiesbasilprodarchdesktop"/>
        <div class="casestudiesbasilprodarchdesktop">
            <div style="width: 760px; height: 100%; position:relative; margin:auto;">
                <div class="basil">
                    <div class="heartyorganicentr">
                        Hearty, organic entrées <br />that taste just a little <br />better than homemade.
                    </div>
                    <img anima-src="./img/casestudies-basil-prodarch-desktop-img.jpg" class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="spinachfilopuffs">
                        Spinach Filo Puffs
                    </div>

                    <div class="wrap_2">
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-img-1.jpg" class="img1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="beefpotpie">
                            Beef Pot Pie
                        </div>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-img-2.jpg" class="img2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="creamypestopasta">
                            Creamy Pesto Pasta
                        </div>
                    </div>

                    <div class="wrap_2">
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-img-3.jpg" class="img3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="herbroastedchicken">
                            Herb Roasted Chicken
                        </div>
                    </div>

                    <img anima-src="./img/casestudies-basil-prodarch-desktop-img-4.jpg" class="img4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/casestudies-basil-prodarch-desktop-img-5.jpg" class="img5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="guiltfreerecipes">
                        Guilt-free recipes, curated <br />for your everyday life.
                    </div>
                    <div class="nav">
                        <div class="appetizers">
                            APPETIZERS
                        </div>
                        <div class="entr351es">
                            ENTRÉES
                        </div>
                        <div class="rectangle3">
                        </div>
                        <div class="desserts">
                            DESSERTS
                        </div>
                        <div class="cocktails">
                            COCKTAILS
                        </div>
                    </div>
                    <div class="icbookmark">
                        <div class="rectangle21">
                        </div>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-stroke-1@2x.png" class="stroke1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-stroke-5@2x.png" class="stroke5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-fill-7@2x.png" class="fill7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="logo">
                        <div class="background">
                        </div>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-fill-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-fill-3-1@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-fill-4@2x.png" class="fill4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-fill-6@2x.png" class="fill6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-fill-9@2x.png" class="fill9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="group7">
                        <div class="titlebarbg">
                        </div>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-minimise@2x.png" class="minimise" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-maximise@2x.png" class="maximise" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/casestudies-basil-prodarch-desktop-close@2x.png" class="close" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
