<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="css/caseStudiesReplyMain.css" rel="stylesheet" type="text/css"/>
        <link href="css/reply_tile_2.css" rel="stylesheet" type="text/css"/>
        <link href="css/reply_tile_4.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(180, 193, 204, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="casestudiesreplymain"/>
        <div class="casestudiesreplymain">

                <div class="feedmobile1">
                    <div class="icstar">
                        <div class="rectangle5copy">
                        </div>
                        <div class="color17262a">
                            <img anima-src="./img/casestudies-reply-main-color17262a@2x.png" class="color17262a1" src="./img/casestudies-reply-main-color17262a@2x.png">
                        </div>
                    </div>
                    <div class="avatar">
                        <img src="./img/casestudies-reply-color-avatar@2x.png" class="avatar1">
                    </div>
                    <div class="googleexpressu201415 icstar_right">
                        <span class="span1">Trevor Hansen — 12 hrs ago</span>
                    </div>
                    <div class="packageshipped icstar_right">
                        High school reunion?
                    </div>
                </div>
                <div class="feed4">
                    <img src="./img/casestudies-reply-color-bg-3.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="buttoncheckmark36px">
                        <img src="./img/casestudies-reply-components-fill-1-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-main-fill-3-1@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-main-oval-copy@2x.png" class="ovalcopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="trevorhansenu20141h">
                        Trevor Hansen — 1h
                    </div>
                    <div class="highschoolreunion">
                        High school reunion?
                    </div>
                </div>
                <div class="group">
                    <div class="rectangle11copy4">
                    </div>
                    <div class="trevorhansencopy2">
                        <span class="span1">Trevor Hanse</span><span class="span2">n</span>
                    </div>
                    <div class="avatar0436pxcopy4">
                        <div class="group71">
                            <img src="./img/casestudies-reply-components-group-7@2x.png" class="group72" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <img src="./img/casestudies-reply-components-oval-copy-3@2x.png" class="ovalcopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="profilescopy">
                    <img src="./img/casestudies-reply-main-rectangle-8.png" class="rectangle8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="jeffersoncgmailcom">
                        jeffersonc@gmail.com
                    </div>
                    <div class="jeffersonloveshiking">
                        jeffersonloveshiking@gmail.com
                    </div>
                    <div class="hikingfangmailcom">
                        hikingfan@gmail.com
                    </div>
                    <div class="avatarprofile01">
                        <img src="./img/casestudies-reply-components-avatar-1@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-main-oval-3@2x.png" class="oval3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="avatarprofile02">
                        <img src="./img/casestudies-reply-components-avatar-3@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="a642394445">
                            <img src="./img/casestudies-reply-components-642394445@2x.png" class="a6423944451" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="avatarprofile03">
                        <img src="./img/casestudies-reply-components-avatar-3@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="stocksycomp795618">
                            <img src="./img/casestudies-reply-main-stocksycomp795618@2x.png" class="stocksycomp7956181" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="iccheckmark">
                        <div class="rectangle">
                        </div>
                        <img src="./img/casestudies-reply-components-fill-3-2@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="group6">
                    <img src="./img/casestudies-reply-chips-alt-bg.png" class="bg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="avatar">
                        <img src="./img/casestudies-reply-bottomappbar-avatar-3@2x.png" class="avatar1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="trevorhansenu201412h">
                        Trevor Hansen — 12 hrs ago
                    </div>
                    <div class="tomerachelandz">
                        To me, Rachel, and Zach
                    </div>
                    <div class="hifriendsiwasat">
                        Hi friends,<br /><br />I was at the grocery store on Sunday night... when I ran into Genie Williams! I almost didn't recognize her after 20 years! <br /><br />Anyway, it turns out she is on the organizing committee for the high school reunion this fall. I don't know if you were planning on going or not, but she could definitely use our help in trying to track down lots of missing alums. If you can make it, we're doing a little phone-tree party at her place next Saturday, hoping that if we can find one person, a few more will emerge. What do you say? Want to see if Drew and Todd can make it too?<br /><br />Talk soon!<br />Trevor
                    </div>
                    <div class="highschoolreunion">
                        High school<br />reunion
                    </div>
                    <div class="icexpand">
                        <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="color17262a">
                            <img src="./img/02replynavtransitionsmp4-1b-color17262a@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="group7">
                    <div class="profiles">
                        <img src="./img/casestudies-reply-main-bg-2.png" class="bg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="jeffersoncgmailcom">
                            jeffersonc@gmail.com
                        </div>
                        <div class="jeffersonloveshiking">
                            jeffersonloveshiking@gmail.com
                        </div>
                        <div class="hikingfangmailcom">
                            hikingfan@gmail.com
                        </div>
                        <div class="avatardark">
                            <img src="./img/casestudies-reply-main-avatar-4@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="avatardark1">
                            <img src="./img/casestudies-reply-main-avatar-5@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="avatardark2">
                            <img src="./img/casestudies-reply-main-avatar-6@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="iccheckmark">
                            <div class="background">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-main-color17262a-2@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="navmobilelogoalt">
                        <div class="background">
                        </div>
                        <img src="./img/casestudies-reply-main-nav-bg.png" class="navbg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="icarrowup">
                            <img src="./img/casestudies-reply-elevation-shape-2@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-productarch-color17262a-19@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="logo">
                            <div class="background1">
                            </div>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-nestedfab-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/01launchmp4-1c-fill-6@2x.png" class="fill6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill14" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill16" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill18" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill20" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill22" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill24" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill26" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="navmobiledip">
                    <div class="background">
                    </div>
                    <img src="./img/casestudies-reply-elevation-bg-nav.png" class="bgnav" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="buttonnav">
                        <img src="./img/casestudies-reply-main-oval-2@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="icedit">
                            <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-bottomappbar-1-color17262a-1@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="icarrowup">
                        <img src="./img/casestudies-reply-elevation-shape-2@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="color17262a">
                            <img src="./img/casestudies-reply-nestedfab-color17262a-2@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="logo">
                        <div class="background1">
                        </div>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-nestedfab-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/01launchmp4-1c-fill-6@2x.png" class="fill6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill14" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill16" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill18" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill20" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill22" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill24" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill26" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="icstar">
                        <div class="rectangle5copy">
                        </div>
                        <div class="color17262a">
                            <img src="./img/casestudies-reply-railnav-color17262a-21@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="icmorevert">
                        <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="color17262a">
                            <img src="./img/02replynavtransitionsmp4-1b-color17262a-4@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="buttonnavedit">
                    <img src="./img/casestudies-reply-main-oval-2@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="icedit24px">
                        <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-main-shape-6@2x.png" class="shape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="buttonnavreply">
                    <img src="./img/casestudies-reply-main-oval-2@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="icreplyblack">
                        <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-icons-alt-fill-1-7@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="feedmobile5">
                    <img src="./img/casestudies-reply-elevation-bg-4.png" class="bg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="brittaholtu201418hrs">
                        Sandra Adams — Oct 29
                    </div>
                    <div class="weshouldmakethis">
                        What do you think of these spots? I’ve been meaning to try one close to you…
                    </div>
                    <div class="raspberrypie">
                        Japanese Restaurants
                    </div>
                    <div class="recipetotry">
                        Dinner Tonight
                    </div>
                    <img src="./img/casestudies-reply-components-img.jpg" class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="avatar">
                        <img src="./img/casestudies-reply-floatingfab-avatar-2@2x.png" class="avatar1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    </div>
                <div class="group1">
                    <div>
                    <img src="./img/casestudies-reply-components-mask-1.png" class="navdrkbg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img src="./img/casestudies-reply-bottomsheet-combined-shape.png" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="list">
                        <div class="icfolder">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-bottomsheet-color17262a-8@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icdraft">
                            <div class="rectangle5copy5">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-extendedfab-color17262a-20@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icspam">
                            <div class="rectangle5copy4">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-productarch-color17262a-21@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="ictrash">
                            <div class="rectangle5copy3">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-extendedfab-color17262a-7@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icsent">
                            <div class="rectangle5copy2">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-productarch-color17262a-23@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icstar">
                            <div class="rectangle5copy">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-railnav-color17262a-21@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icinbox">
                            <div class="rectangle5">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-productarch-color17262a-25@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="inbox">
                            Inbox
                        </div>
                        <div class="starred">
                            Starred
                        </div>
                        <div class="sent">
                            Sent
                        </div>
                        <div class="trash">
                            Trash
                        </div>
                        <div class="spam">
                            Spam
                        </div>
                        <div class="drafts">
                            <span class="span1">Draft</span><span class="span2">s</span>
                        </div>
                        <div class="receipts">
                            Receipts
                        </div>
                        <div class="pineelementary">
                            Pine Elementary
                        </div>
                        <div class="taxes">
                            Taxes
                        </div>
                        <div class="vacation">
                            Vacation
                        </div>
                        <div class="mortgage">
                            Mortgage
                        </div>
                        <div class="freelance">
                            Freelance
                        </div>
                        <div class="folders">
                            FOLDERS
                        </div>
                        <div class="rectangle">
                        </div>
                        <div class="icfolder1">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-bottomsheet-color17262a-8@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icfolder2">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-bottomsheet-color17262a-8@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icfolder3">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-bottomsheet-color17262a-8@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icfolder4">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-bottomsheet-color17262a-8@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icfolder5">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-bottomsheet-color17262a-8@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="navmobilelogo">
                        <div class="nav">
                            <img src="./img/casestudies-reply-contextualactionbar-bg-nav.png" class="bgnav" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="icmorevert">
                                <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="color17262a">
                                    <img src="./img/casestudies-reply-bottomsheet-color17262a-13@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="icarrowup">
                            <img src="./img/casestudies-reply-elevation-shape-2@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-productarch-color17262a-19@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="logo">
                            <div class="background">
                            </div>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-nestedfab-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/01launchmp4-1c-fill-6@2x.png" class="fill6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill14" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill16" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill18" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill20" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill22" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill24" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill26" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </body>
</html>
