<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/fortnightly.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(237, 237, 237, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="casestudiescraneproductarchtabsbackdropmobilecopy3"/>
        <div class="casestudiescraneproductarchtabsbackdropmobilecopy3">
            <div class="fortnightly">
                <div class="content">
                    <img src="./img/casestudies-crane-productarch-tabsbackdrop-mobile-copy-2-app-bar-bg.png" class="appbarbg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group">
                        <div class="leadarticle">
                            <img src="./img/mobile-03-img-1.jpg" class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="povertytoempowerme h4">
                                Poverty To Empowerment In Chicago
                            </div>
                            <div class="howonewomanistra subtitle2">
                                How one woman is transforming the lives of underprivileged children in the inner city
                            </div>
                            <div class="author">
                                <img src="./img/casestudies-crane-productarch-tabsbackdrop-mobile-copy-author@2x.png" class="author1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <span class="span2 author2 h6">by Betty Eghan</span>
                                
                            </div>
                            <div class="body">
                                 <div class="placethatlookssaf">
                                    <span class="span1 body1">The neighborhood that Carly walks through on her way to school every day is not a place that looks safe for a 10-year-old, even by the light of day. Crumbling brick buildings give way to apartment- building entryways whose walls betray leaky plumbing.  <br />But despite all appearances, Carly’s neighborhood is one that is in the process of being transformed by the local school system. Department of Education chair, James Klein,  believes this new effort will change the way of life for its inhabitants, and their futures. It's long been known that education is a strong determinant of future earnings. The further a student progresses in schooling, the more likely that as an adult he or she will make a salary above the minimum wage, much closer to the national average salary per year</span>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <div class="m2appbarshort">
                                <div class="m2appbarshort1">
                                    <img src="./img/mobile-03-combined-shape@2x.png" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <div class="icmenugrey600">
                                        <div class="icarrowback24px">
                                            <img src="./img/casestudies-crane-productarch-tabsbackdrop-mobile-shape-2@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                            <img src="./img/mobile-03-shape-1@2x.png" class="shape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                        </div>
                                    </div>
                                    <div class="monogram">
                                        <div class="background">
                                        </div>
                                        <div class="page1">
                                            <img src="./img/casestudies-crane-productarch-tabsbackdrop-mobile-copy-2-page-1@2x.png" class="page11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="syslgtbk">
                            <div class="syslgtbk1">
                                <img src="./img/casestudies-crane-productarch-tabsbackdrop-mobile-copy-2-fill-47.png" class="fill47" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle7">
                                </div>
                                <img src="./img/casestudies-crane-productarch-tabsbackdrop-mobile-copy-2-triangle@2x.png" class="triangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle7copy">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <!-- End of Scripts -->
    </body>
</html>
