<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/reply_components.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body>
        <div class="reply_components">
            <div style="width: 760px; height: 100%; position:relative; margin:auto;">
                <div id="font_title">
                    <div id='main_font_title' class="h2"></div>
                    <div id='sub_font_title' class="button"></div>
                </div>
                <div class="star_feed">
                    <div class="icstar">
                        <div class="rectangle5copy">
                        </div>
                        <div class="color17262a">
                            <img src="./img/casestudies-reply-main-color17262a@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="trevorhansenu201412h overline">
                        Josh Dillinger — Oct 28
                    </div>
                    <div class="highschoolreunion h6">
                        Parent Teacher Conference
                    </div>
                </div>
                <div class="menu">
                    <img src="./img/casestudies-reply-components-mask-1.png" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img src="./img/casestudies-reply-components-nav-bg-dip.png" class="navbgdip" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="list"> 
                        <div class="menubutton button">
                                <img src="./img/casestudies-reply-productarch-color17262a-25@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            Inbox
                        </div>
                        <div class="menubutton button">
                                <img src="./img/casestudies-reply-components-color17262a-6@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            Starred
                        </div>
                        <div class="menubutton button">
                                <img src="./img/casestudies-reply-components-color17262a-5@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            Sent
                        </div>
                        <div class="menubutton button">
                                <img src="./img/casestudies-reply-components-color17262a-4@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            Trash
                        </div>
                        <div class="menubutton button">
                                <img src="./img/casestudies-reply-components-color17262a-3@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            Spam
                        </div>
                        <div class="menubutton button">
                                <img src="./img/casestudies-reply-components-color17262a-2@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            Drafts
                        </div>
                        <div class="menubutton button">
                            Receipts
                        </div>
                        <div class="menubutton button">
                            Pine Elementary
                        </div>
                        <div class="menubutton button">
                            Taxes
                        </div>
                        <div class="menubutton button">
                            Vacation
                        </div>
                        <div class="menubutton button">
                            Mortgage
                        </div>
                        <div class="menubutton button">
                            Freelance
                        </div>
                        <div class="menubutton button">
                                <img src="./img/casestudies-reply-components-color17262a-10@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            FOLDERS
                        </div>
                        <div class="rectangle">
                        </div>
                        <div class="icfolder1">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-components-color17262a-10@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icfolder2">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-components-color17262a-10@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icfolder3">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-components-color17262a-10@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icfolder4">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-components-color17262a-10@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="icfolder5">
                            <div class="rectangle5copy6">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-components-color17262a-10@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="navmobilelogo">
                        <div class="nav">
                            <img src="./img/casestudies-reply-contextualactionbar-bg-nav.png" class="bgnav" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="icmorevert">
                                <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="color17262a">
                                    <img src="./img/casestudies-reply-bottomsheet-color17262a-13@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="inbox">
                                Inbox
                            </div>
                            <div class="icarrowup">
                                <img src="./img/casestudies-reply-components-shape-1@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="color17262a">
                                    <img src="./img/casestudies-reply-components-color17262a-14@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="logo">
                                <div class="background">
                                </div>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-6@2x.png" class="fill6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill14" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill16" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill18" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill20" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill22" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill24" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-reply-components-fill-20@2x.png" class="fill26" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="avatardark">
                        <img src="./img/casestudies-reply-components-avatar@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="group">
                        <span class="span1 subtitle2">Trevor Hansen</span>
                    <div class="avatar0436pxcopy4">
                    
                        <div class="group71">
                            <img src="./img/casestudies-reply-components-group-7@2x.png" class="group72" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <img src="./img/casestudies-reply-components-oval-copy-3@2x.png" class="ovalcopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="profilelist">
                    <div class="list subtitle2">
                        jeffersonc@gmail.com
                    </div>
                    <div class="list subtitle2">
                        ilovehiking@gmail.com
                    </div>
                    <div class="list subtitle2">
                        hikingfan@gmail.com
                    </div>
                    <div class="avatarprofile01">
                        <img src="./img/casestudies-reply-components-avatar-1@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-main-oval-3@2x.png" class="oval3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="avatarprofile02">
                        <img src="./img/casestudies-reply-components-avatar-3@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="a642394445">
                            <img src="./img/casestudies-reply-components-642394445@2x.png" class="a6423944451" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="avatarprofile03">
                        <img src="./img/casestudies-reply-components-avatar-3@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="stocksycomp795618">
                            <img src="./img/casestudies-reply-main-stocksycomp795618@2x.png" class="stocksycomp7956181" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="iccheckmark">
                        <div class="rectangle">
                        </div>
                        <img src="./img/casestudies-reply-components-fill-3-2@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="bodytext">
                    <div class="content">
                        <div class="highschoolreunion h4">
                            High school<br />reunion
                        </div>
                        <div class="avatar">
                            <img src="./img/casestudies-reply-bottomappbar-avatar-3@2x.png" class="avatar1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="hifriendsiwasat body1">
                            Hi friends,<br /><br />I was at the grocery store on Sunday night... when I ran into Genie Williams! I almost didn't recognize her after 20 years! <br /><br />Anyway, it turns out she is on the organizing committee for the high school reunion this fall. I don't know if you were planning on going or not, but she could definitely use our help in trying to track down lots of missing alums. If you can make it, we're doing a little phone-tree party at her place next Saturday, hoping that if we can find one person, a few more will emerge. What do you say? Want to see if Drew and Todd can make it too?<br /><br />Talk soon!<br />Trevor
                        </div>
                        <div class="icexpand">
                            <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="color17262a">
                                <img src="./img/02replynavtransitionsmp4-1b-color17262a@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                <div class="navmobiledip">
                    <div class="background">
                    </div>
                    <img src="./img/casestudies-reply-elevation-bg-nav.png" class="bgnav" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="buttonnav">
                        <img src="./img/casestudies-reply-main-oval-2@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="icedit">
                            <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-bottomappbar-1-color17262a-1@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="icarrowup">
                        <img src="./img/casestudies-reply-elevation-shape-2@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="color17262a">
                            <img src="./img/casestudies-reply-nestedfab-color17262a-2@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="logo">
                        <div class="background1">
                        </div>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-nestedfab-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/01launchmp4-1c-fill-6@2x.png" class="fill6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill14" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill16" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill18" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill20" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill22" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill24" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill26" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="icstar">
                        <div class="rectangle5copy">
                        </div>
                        <div class="color17262a">
                            <img src="./img/casestudies-reply-railnav-color17262a-21@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="icmorevert">
                        <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="color17262a">
                            <img src="./img/02replynavtransitionsmp4-1b-color17262a-4@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="sysmobile">
                    <div class="path">
                    </div>
                    <div class="bg1">
                    </div>
                    <div class="rectangle7">
                    </div>
                    <img src="./img/01launchmp4-1c-triangle@2x.png" class="triangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="rectangle7copy">
                    </div>
                </div>
                </div>
                <div class="buttonnavedit">
                    <img src="./img/casestudies-reply-main-oval-2@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="icedit24px">
                        <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-main-shape-6@2x.png" class="shape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="buttonnavreply">
                    <img src="./img/casestudies-reply-main-oval-2@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="icreplyblack">
                        <img src="./img/casestudies-reply-components-shape-3@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-icons-alt-fill-1-7@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="group7">
                    <div class="profiles">
                        <img src="./img/casestudies-reply-main-bg-2.png" class="bg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="jeffersoncgmailcom subtitle2">
                            jeffersonc@gmail.com
                        </div>
                        <div class="jeffersonloveshiking subtitle2">
                            jeffersonloveshiking@gmail.com
                        </div>
                        <div class="hikingfangmailcom subtitle2">
                            hikingfan@gmail.com
                        </div>
                        <div class="avatardark">
                            <img src="./img/casestudies-reply-main-avatar-4@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="avatardark1">
                            <img src="./img/casestudies-reply-main-avatar-5@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="avatardark2">
                            <img src="./img/casestudies-reply-main-avatar-6@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="iccheckmark">
                            <div class="background">
                            </div>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-main-color17262a-2@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="navmobilelogoalt">
                        <div class="background">
                        </div>
                        <img src="./img/casestudies-reply-main-nav-bg.png" class="navbg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="icarrowup">
                            <img src="./img/casestudies-reply-elevation-shape-2@2x.png" class="shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="color17262a">
                                <img src="./img/casestudies-reply-productarch-color17262a-19@2x.png" class="color17262a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="logo">
                            <div class="background1">
                            </div>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-nestedfab-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/01launchmp4-1c-fill-6@2x.png" class="fill6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill14" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill16" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill18" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-20-2@2x.png" class="fill20" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill22" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill24" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-reply-components-fill-16-1@2x.png" class="fill26" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="navmobiledipcopy">
                    <div class="loading_wrapper"><div></div></div>
                    <img src="./img/casestudies-reply-color-bg-3.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="buttoncheckmark36px">
                        <img src="./img/casestudies-reply-components-fill-1-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-main-fill-3-1@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img src="./img/casestudies-reply-main-oval-copy@2x.png" class="ovalcopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="trevorhansenu20141h">
                        Trevor Hansen — 1h
                    </div>
                    <div class="loading">
                        loading
                    </div>
                </div>
                <div class="feedmobile5copy">
                    <div class="brittaholtu201418hrs overline">
                        Sandra Adams — Oct 29
                    </div> 
                    <div class="recipetotry h5 ">
                        Dinner Tonight
                    </div>
                    <img src="./img/casestudies-reply-components-img.jpg" class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="raspberrypie subtitle1">
                        Japanese Restaurants
                    </div>
                    <div class="weshouldmakethis body2">
                        What do you think of these spots? I’ve been meaning to try one close to you…
                    </div>
                    <div class="avatar">
                        <img src="./img/casestudies-reply-floatingfab-avatar-2@2x.png" class="avatar1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
