<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/reply_single_1.css" rel="stylesheet" type="text/css"/>
        <link href="./css/reply_single_2.css" rel="stylesheet" type="text/css"/>
        <link href="./css/reply_single_3.css" rel="stylesheet" type="text/css"/>
        <link href="./css/reply_single_4.css" rel="stylesheet" type="text/css"/>
        <link href="./../index.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
    <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
        </meta>
        <style type="text/css">
            .device-shadow{
                position: absolute;
                width: 360px;
                height: 640px;
                overflow: hidden;
                box-shadow: 0vh 0vh 7px rgba(60, 64, 67, 0.33);
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);}
        </style>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <div class='singleapp'>
            <div id="sketch_wrapper">
              <div id="sketch_frame">
                <div class="device-shadow"></div>
                  <div id="sketch" class="sketch">
                  </div>
              </div>
            </div>
            <div id="table_wrapper">
            </div>
        </div>
    </body>
</html>
