<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/topics_desktop.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body>
                <div class="topics_desktop topics_single">
                    <div class="owlcopy3">
                        <div class="comfab">
                            <div class="color0235ff">
                                <img src="./img/casestudies-owl-section1-color0235ff@2x.png" class="color0235ff1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="iccompass">
                                <div class="rectangle">
                                </div>
                                <img src="./img/casestudies-owl-section1-fill-161@2x.png" class="fill161" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="choosetopicsthati">
                            <span class="span1 h2">Choose topics that interest you</span>
                        </div>
                        <div class="topic1">
                            <div>
                                <div class="artscrafts">
                                    <span class="span1 subtitle1">Arts &amp; Craft</span><span class="span2">s</span>
                                </div>
                                <div class="a121 subtitle2">
                                    121
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div>
                                <div class="artscrafts">
                                    <span class="span1 subtitle1">Arts &amp; Craft</span><span class="span2">s</span>
                                </div>
                                <div class="a121 subtitle2">
                                    121
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div>
                                <div class="artscrafts">
                                    <span class="span1 subtitle1">Arts &amp; Craft</span><span class="span2">s</span>
                                </div>
                                <div class="a121 subtitle2">
                                    121
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div>
                                <div class="artscrafts">
                                    <span class="span1 subtitle1">Arts &amp; Craft</span><span class="span2">s</span>
                                </div>
                                <div class="a121 subtitle2">
                                    121
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="topic3">
                            <div>
                                <div class="business subtitle1">
                                    Business
                                </div>
                                <div class="a78 subtitle2">
                                    78
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4-2.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div>
                                <div class="business subtitle1">
                                    Business
                                </div>
                                <div class="a78 subtitle2">
                                    78
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4-2.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div>
                                <div class="business subtitle1">
                                    Business
                                </div>
                                <div class="a78 subtitle2">
                                    78
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4-2.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div>
                                <div class="business subtitle1">
                                    Business
                                </div>
                                <div class="a78 subtitle2">
                                    78
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4-2.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="topic5">
                            <div>
                                <div class="culinary subtitle1">
                                    Culinary
                                </div>
                                <div class="a118 subtitle2">
                                    118
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4-4.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div>
                                <div class="culinary subtitle1">
                                    Culinary
                                </div>
                                <div class="a118 subtitle2">
                                    118
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4-4.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div>
                                <div class="culinary subtitle1">
                                    Culinary
                                </div>
                                <div class="a118 subtitle2">
                                    118
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4-4.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div>
                                <div class="culinary subtitle1">
                                    Culinary
                                </div>
                                <div class="a118 subtitle2">
                                    118
                                </div>
                                <div class="thumb">
                                    <img src="./img/casestudies-owl-section1-rectangle-4-4.jpg" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="icgear">
                            <div class="background">
                            </div>
                            <div class="color000">
                                <img src="./img/casestudies-owl-section1-color000@2x.png" class="color0001" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="logoowlwhite">
                        <div class="page1">
                            <div class="group8">
                                <img src="./img/casestudies-owl-section1-fill-1@2x.png" class="fill1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img src="./img/casestudies-owl-section1-fill-3@2x.png" class="fill3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="group7">
                                    <img src="./img/casestudies-owl-section1-group-7@2x.png" class="group71" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <img src="./img/casestudies-owl-section1-fill-9@2x.png" class="fill9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-owl-section1-fill-10@2x.png" class="fill10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img src="./img/casestudies-owl-section1-fill-11@2x.png" class="fill11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
